# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml

# macOS / Python clutter
.DS_Store
__pycache__/

# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist
assets/lib

# Chirpy
bin/
*.gemspec
docs/
tools/
venv/
